        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {}

        .counter {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            padding: 15px 20px;
            margin: 15px;
            border-radius: 10px;
            font-size: 1.5rem;
        }

        span {
            font-size: 1.5rem;
        }