* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.simon-board {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
}

.btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #333;
    transition: background-color 0.5s ease;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.btn.highlight {
    background-color: white;
}